<body data-spy="scroll">
  <div class="homeBackground" style="height: 981px;">
      <div class="container">
          <h1>
            Anton Pashyk
          </h1>
          <p class="homePageQuote">
            Full-Stack Developer
          </p>
      </div>
      <a href="#profile" class="bouncerDiv" *ngIf="!hideNav">	
          <i class="fas fa-chevron-down bouncer"></i>
      </a>
  </div>

  <div id="profile" class="background-gray">
    <div class="profile container">
      <h2>Profile</h2>
      <p class="quote"></p>
      <hr>
      <div class="row">
          <div class="col-md-4">
            <h3>Bio</h3>
            <p>
              <strong>Name: </strong>
              Anton Pashyk
              <br>
              <strong>Location: </strong>
              Greater New York City Area
            </p>
          </div>
        <div class="col-md-4 text-center">
          <img class="profileImage" src="../assets/profile.jpg" alt="Anton Pashyk" width="250" height="250">
        </div>
        <div class="col-md-4">
          <h3>About me</h3>
          <p>
            I am a modern developer with good knowledge in front-end as well as back-end architecture. I can develop a stable system and design a great way to showcase it.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="background-white">
    <div class="experience container">
      <h2>Experience</h2>
      <p class="quote"></p>
      <hr>
      <app-experience [data]=workExperience></app-experience>
    </div>
  </div>

  <div class="background-gray">
    <div class="experience container">
      <h2>Education</h2>
      <p class="quote"></p>
      <hr>
      <app-experience [data]=education></app-experience>
    </div>
  </div>

  <div class="background-white">
    <div class="container">
      <h2>Personal Project(s)</h2>
      <p class="quote">
        Cryptocurrency market maker bot
      </p>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <p>This project is my version of a market maker trading strategy embedded into a C#/Javascipt bot. The goal is simple: buy low and sell high. Currently, the bot is trading BNB, the value of which is tied to the trading volume of Binance. The bot runs on a local secure server, while a public API aggregates data for monitoring on an AWS instance. Below is a summary of performance and activity of this bot.</p>
        </div>
      </div>
      <app-projects></app-projects>
    </div>
  </div>

  <div class="background-gray">
    <div class="container">
        <h2>Skills</h2>
        <p class="quote"></p>
        <hr>
        <object type="image/svg+xml" data="../assets/skills.svg" class="resize">
            Skills
        </object>
    </div>
  </div>

  <div class="background-white">
    <div class="contact container">
      <h2>Contact</h2>
      <p class="quote"></p>
      <hr>
      <div class="row">
          <div class="col-md-6">
            <a href="mailto:axp9304@rit.edu">
              <i class="fas fa-at icon-square" style="color: white;"></i>
              <span> axp9304@rit.edu</span>
            </a>
            <a href="../assets/resume.pdf" download="anton_pashyk_resume">
              <i class="fas fa-download icon-square" style="color: white;"></i>
              <span> Resume</span>
            </a>
          </div>
          <div class="col-md-6">
            <a href="https://www.linkedin.com/in/anton-pashyk-24609159/" target="_blank">
              <i class="fab fa-linkedin-in icon-square" style="color: white;"></i>
              <span> https://linkedin.com/in/anton-pashyk-24609159/</span>
            </a>
          </div>
      </div>

    </div>
  </div>

</body>