<body data-spy="scroll">
  <div class="homeBackground" style="height: 981px;">
      <div class="container">
          <h1>
            Anton Pashyk
          </h1>
          <p class="homePageQuote">
            I made a website because I felt like it
          </p>
      </div>
  </div>

  <div class="background-gray">
    <div class="profile container">
      <h2>Profile</h2>
      <p class="quote">I'm a coder and a dreamer</p>
      <hr>
      <div class="row">
          <div class="col-md-4">
            <h3>Bio</h3>
            <p>
              <strong>Name: </strong>
              Anton Pashyk
              <br>
              <strong>Age: </strong>
              25 years
              <br>
              <strong>Location: </strong>
              Greater New York City Area
            </p>
          </div>
        <div class="col-md-4 text-center">
          <img class="profileImage" src="../assets/profile.jpg" alt="Anton Pashyk" width="250" height="250">
        </div>
        <div class="col-md-4">
          <h3>About me</h3>
          <p>
            I am a modern developer with good knowledge in front-end as well as back-end architecture. I can develop a stable system and design a great way to showcase it.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="background-white">
    <div class="experience container">
      <h2>Experience</h2>
      <p class="quote"></p>
      <hr>
      <app-experience [data]=workExperience></app-experience>
    </div>
  </div>

  <div class="background-gray">
    <div class="experience container">
      <h2>Education</h2>
      <p class="quote"></p>
      <hr>
      <app-experience [data]=education></app-experience>
    </div>
  </div>

  <div class="background-white">
    <div class="skills container">
        <h2>Skills</h2>
        <p class="quote"></p>
        <hr>
        <div class="row">
            <div class="col-md-2">
              
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-3">
                        <img style="margin-top: 40%; margin-right: 10px;" src="../assets/comment-javascript.svg">
                    </div>
                    <div class="col-md-2">
                        <img style="margin-top: 130%; margin-left: 10px;" src="../assets/comment-angular.svg">
                    </div>
                    <div class="col-md-3">
                        <img style="margin-top: 30%; margin-right: 15px;" src="../assets/comment-java.svg">
                    </div>
                    <div class="col-md-4">
                        <img style="margin-top: 10%;" src="../assets/comment-csharp.svg">
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-5">
              <div class="row">
                  <div class="col-md-4"></div>
                  <div class="col-md-2">
                      <object class="resize" type="image/svg+xml" data="../assets/wrench-sql.svg">SQL</object>
                  </div>
                  <div class="col-md-6">
                    <div class="row">
                        <object class="resize" type="image/svg+xml" data="../assets/comment-english.svg">English</object>
                    </div>
                    <div class="row">
                        <object style="width: 70%; height: 70%; margin-left: 40%;" type="image/svg+xml" data="../assets/wrench-couchbase.svg">CouchBase</object>
                    </div>
                  </div>
              </div>
            </div>

            <div class="col-md-1">
                <object class="resize" style="margin-right: -3px;" type="image/svg+xml" data="../assets/man-left.svg">Languages</object>
            </div>
            <div class="col-md-1">
                <object class="resize" style="margin-left: -3px;" type="image/svg+xml" data="../assets/man-right.svg">Tools</object>
            </div>

            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-5">
                        <div class="row">
                          <img class="resize" src="../assets/comment-russian.svg">
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <object class="resize" type="image/svg+xml" data="../assets/wrench-git.svg">GIT</object>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-6">
                                <object class="resize" type="image/svg+xml" data="../assets/wrench-jira.svg">JIRA</object>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        <object class="resize" type="image/svg+xml" data="../assets/wrench-vs.svg">VS</object>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-2">
                        <object class="resize" style="margin-top: -50%;" type="image/svg+xml" data="../assets/wrench-aws.svg">aws</object>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
  </div>

  <div class="background-gray">
    <div class="contact container">
      <h2>Contact</h2>
      <p class="quote"></p>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <a href="mailto:axp9304@rit.edu">
            <i class="fas fa-at"></i>
            <span> axp9304@rit.edu</span>
          </a>
        </div>
        <div class="col-md-6">
          <a href="https://www.linkedin.com/in/anton-pashyk-24609159/">
            <i class="fab fa-linkedin-in"></i>
            <span> https://linkedin.com/in/anton-pashyk-24609159/</span>
          </a>
        </div>
      </div>
    </div>
  </div>

</body>


