<body data-spy="scroll">
  <div class="homeBackground" style="height: 981px;">
      <div class="container">
          <h1>
            Anton Pashyk
          </h1>
          <p class="homePageQuote">
            I made a website because I felt like it
          </p>
      </div>
  </div>

  <div class="background-white">
    <div class="profile container">
      <h2>Profile</h2>
      <p class="quote">I'm a coder and a dreamer</p>
      <hr>
      <div class="row">
          <div class="col-md-4">
            <h3>Bio</h3>
            <p>
              <strong>Name: </strong>
              Anton Pashyk
              <br>
              <strong>Age: </strong>
              25 years
              <br>
              <strong>Location: </strong>
              Greater New York City Area
            </p>
          </div>
        <div class="col-md-4 text-center">
          <img class="profileImage" src="profile.jpg" alt="Anton Pashyk" width="250" height="250">
        </div>
        <div class="col-md-4">
          <h3>About me</h3>
          <p>
            I am a modern developer with good knowledge in front-end as well as back-end architecture. I can develop a stable system and design a great way to showcase it.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="background-gray">
    <div class="experience container">
      <h2>Experience</h2>
      <p class="quote"></p>
      <hr>
      <div class="expInfo">
        <div class="exp row">
          <div class="col-md-4">
            <h4>Citigroup</h4>
            <p class="expTime">
              September 2016 - Current
            </p>
          </div>
          <div class="col-md-8">
            <p>
              <strong>Assistant Vice President</strong>
              <span>
                Front end C#/WPF development of PRISM - Citi Equities Risk Management Platform. 
              </span>
              <span class="exp-details">
                <span class="location">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  Jersey City, NJ
                </span>
              </span>
            </p>
          </div>
        </div>

        <div class="exp row">
          <div class="col-md-4">
            <h4>Citigroup</h4>
            <p class="expTime">
              June 2015 - September 2016
            </p>
          </div>
          <div class="col-md-8">
            <p>
              <strong>Tech Analyst</strong>
              <span>
                Directly responsible for advancing the front end development of the industry's leading Citi FX Velocity trading platform. Tasks primarily include design and development of the C#/WPF Velocity platform, as well as various C#/Javascript internal management tools.
              </span>
              <span class="exp-details">
                <span class="location">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  New York, NY
                </span>
              </span>
            </p>
          </div>
        </div>

        <div class="exp row">
          <div class="col-md-4">
            <h4>Citigroup</h4>
            <p class="expTime">
              June 2014 - August 2014
            </p>
          </div>
          <div class="col-md-8">
            <p>
              <strong>Intern</strong>
              <span>
                As part of an agile team, responsible for continual development of a Jasper based reporting platform. This platform provides highly customized reporting services to external clients. 
              </span>
              <span class="exp-details">
                <span class="location">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  Jersey City, NJ
                </span>
              </span>
            </p>
          </div>
        </div>

        <div class="exp row">
          <div class="col-md-4">
            <h4>Citigroup</h4>
            <p class="expTime">
              June 2013 - December 2013
            </p>
          </div>
          <div class="col-md-8">
            <p>
              <strong>Intern</strong>
              <span>
                Responsible for coding/updating various processes and automated reports used in mortgage analytics. 
              </span>
              <span class="exp-details">
                <span class="location">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  New York, NY
                </span>
              </span>
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="background-white">
    <div class="experience container">
      <h2>Education</h2>
      <p class="quote"></p>
      <hr>
      <div class="expInfo">
        <div class="exp row">
          <div class="col-md-4">
            <h4>Rochester Institute of Technology</h4>
            <p class="expTime">
              September 2011 - May 2015
            </p>
          </div>
          <div class="col-md-8">
            <p>
              <strong>Bachelor's in Computer Science</strong>
              <span>
                Since the education was primarily theoretical, I spent my college years competing in various online/offline hackathons to compensate.
                My language/arts requirements were filled with as many economics classes as I could fit.
              </span>
              <span class="exp-details">
                <span class="location">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  Rochester, NY
                </span>
              </span>
            </p>
          </div>
        </div>

        <div class="exp row">
          <div class="col-md-4">
            <h4>Massachusetts Academy of Math & Science</h4>
            <p class="expTime">
              September 2009 - May 2011
            </p>
          </div>
          <div class="col-md-8">
            <p>
              <strong>High School</strong>
              <span>
                Small public school (100 students) for advanced students. A computer science teacher here sparked my passion for programming.
              </span>
              <span class="exp-details">
                <span class="location">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  Worcester, MA
                </span>
              </span>
            </p>
          </div>
        </div>

        <div class="exp row">
          <div class="col-md-4">
            <h4>Doherty High</h4>
            <p class="expTime">
              September 2007 - May 2009
            </p>
          </div>
          <div class="col-md-8">
            <p>
              <strong>High School</strong>
              <span>
                I was mostly into math and chess at this time of my life.
              </span>
              <span class="exp-details">
                <span class="location">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  Worcester, MA
                </span>
              </span>
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="background-gray">
    <div class="contact container">
      <h2>Contact</h2>
      <p class="quote"></p>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <a href="mailto:axp9304@rit.edu">
            <i class="fa fa-at"></i>
            <span> axp9304@rit.edu</span>
          </a>
        </div>
        <div class="col-md-6">
          <a href="https://www.linkedin.com/in/anton-pashyk-24609159/">
            <i class="fa fa-linkedin"></i>
            <span> https://linkedin.com/in/anton-pashyk-24609159/</span>
          </a>
        </div>
      </div>
    </div>
  </div>

</body>


