@import url('https://fonts.googleapis.com/css?family=Jura');
@import url('https://fonts.googleapis.com/css?family=Fjord+One');

html, body { color: #434242; font-family: 'Jura', sans-serif !important; height: 100%; }
body { background: white 15px; line-height: 1.64; }

h1 { margin-bottom: 20px; }
h1 { font-weight: 700; margin-bottom: 10px; font-size: 60px; }

.homeBackground {
    background: no-repeat center right fixed url(../app/images/space.jpg);
    -webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	/* -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../app/images/space.jpg', sizingMethod='scale')";
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../app/images/space.jpg', sizingMethod='scale'); */
	
	margin-bottom: 0px;
	padding: 0px;
}

.homeBackground .container { position: relative; top: 28%; z-index: 4; text-align: center; }
.homeBackground .container > * { text-align: center; color: #FFFFFF; }
.homeBackground .container .homePageQuote { padding-top: 10px; border-top: 1px solid #FFFFFF; border-top-color: rgba(255,255,255,0.5); display: inline-block; }
.homeBackground .container .homePageQuote { font-size: 20px; }

