
.travel-container { display: flex; justify-content: space-between; }
.travel-icon { width: 250px; height: 250px; }
.travel-icon:hover { border-style: solid; border-width: 2px; border-color:#22A39F; }
p.country-name { text-align: center; color: #727878; font-size: 26px; }

.country {
    display: flex;
    flex-direction: column;
}

h2, h3 { font-weight: 300; color: #22A39F; font-size: 60px; text-align: center; }
h3 { text-align: left; margin-top: 0; padding-top: 0;}

.expTime { color: #22A39F; font-size: 20px; text-align: center; }
.place-container { display: flex; justify-content: space-between; }
.summ { margin-right: 6em;}