<div class="travel">
  <div class="travel-container">
    <div class="travel-country">
        <p class="country-name">Greece</p>
        <a href="#Greece">
            <img (click)="travel = 'Greece'" class="travel-icon" src="../assets/travel/greece/santorini.jpg" alt="Santorini" width="250" height="250">
        </a>
    </div>
    <div class="travel-country">
        <p class="country-name">Thailand</p>
        <a href="#Thailand">
            <img (click)="travel = 'Thailand'" class="travel-icon" src="../assets/travel/thailand/beach.jpg" alt="Phuket Beach" >
        </a>
    </div>
    <div class="travel-country">
        <p class="country-name">Peru</p>
        <a href="#Peru">
            <img (click)="travel = 'Peru'" class="travel-icon" src="../assets/travel/peru/paracas.jpg" alt="Paracas National Reserve" width="250" height="250">
        </a>
    </div>
  </div>
  <br>
  <div *ngFor="let country of data">
    <div *ngIf="travel === country.name" class="country" id="{{country.name}}">
          <hr style="width: 100%;">
          <h2>{{country.name}}</h2>
          <p class="expTime">
            {{country.date}}
          </p>
          <img src="{{country.plan}}" class="resize">
          <br>
          <hr style="width: 50%;">
          <br>
          <div *ngFor="let place of country.places" class="place">
            <div *ngIf="place.tag === 'right'" class="place-container">
                <div class="summ">
                    <h3>{{place.name}}</h3>
                    <p class="desc">{{place.description}}</p>
                </div>
                <img src="{{place.image}}" width="250" height="250" style="min-width: 250px;">
            </div>
            <div *ngIf="place.tag === 'left'" class="place-container">
                <img class="summ" src="{{place.image}}" width="250" height="250" style="min-width: 250px;">
                <div>
                    <h3>{{place.name}}</h3>
                    <p class="desc">{{place.description}}</p>
                </div>
            </div>
            <br>
            <hr style="width: 50%;">
            <br>
          </div>
        </div>
    </div>
</div>