@import url('https://fonts.googleapis.com/css?family=Jura');

.manlanguage { opacity: 0.75; }
.manlanguage:hover { opacity: 1; fill: red; }
.mantool { opacity: 0.75; }
.mantool:hover { opacity: 1; fill: blue; }
.textTitle { font-family: 'Jura', serif !important; fill-opacity: 1; font-weight: 700; }
.languageText { fill: red; }
.toolText { fill: blue; }

.gradientMan { visibility: hidden; }