.commentfill { opacity: 0.5; }
.commentfill:hover { opacity: 1; fill: red; }
.wrenchfill { opacity: 0.5; }
.wrenchfill:hover { opacity: 1; fill: blue; }
.manlanguage { opacity: 0.75; }
.manlanguage:hover { opacity: 1; fill: red; }
.mantool { opacity: 0.75; }
.mantool:hover { opacity: 1; fill: blue; }
